body{
    margin: 0px;
    height: 100vh;
}

*{
    font-family: 'Fira Sans', sans-serif;
}

header{
    background: rgb(77, 77, 77);
    display: flex;
    height: 5%;
    align-items: center;
    justify-content: space-between;
}

.header-brand{
    padding-left: 10px;
}

.header-buttons{
    padding-right: 10px;
}

nav{
    display:flex;
    height: 5%;
    background-color: rgb(139, 139, 139);
    align-items: center;
}

nav > form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.page-body{
    display: flex;
    height: 90%;
    background: #dedede;
}

.sidebar{
    background-color: rgb(91, 91, 91);
    align-items: center;
    height: 100%;
    width: 20%;
    overflow: scroll;
}

.sidebar::-webkit-scrollbar {
    display: none;    /* Hide scrollbar for Chrome, Safari and Opera */
}

.sidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.content{
    margin: auto auto;
    background: white;
    padding: 20px;
}

.mapdata{
    display: flex;
}

.maptable{
    width: 50%;
    display: flex;
}

td > input{
    width: 50px;
}

form > div{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.buses{
    grid-template-columns: auto auto auto auto;
    grid-gap: 4px;
}

.s_section_cont{
    display: none;
}

.s_section_cont > p{
    background-color: rgb(204, 204, 204);
    padding: 4px 20px;
    
}

.s_section{
    cursor: pointer;
    padding: 50px 20px;
    background: #656565;
    margin: 10px 0px;
    color: white;
}

input{
    margin: 5px;
}

button{
    margin: 5px;
}

select{
    margin: 5px;
}

label{
    margin: 5px;
}