body{
    margin: 0px;
    height: 100vh;
    background-image: url('/static/images/background.png'),linear-gradient(to bottom right, #1E0431, #45177D);
    background-position-x: right;
    background-position-y: bottom;
    background-size: 80%,100%;
    background-repeat: no-repeat, repeat;
    /* overflow: hidden; */
}

*{
    font-family: 'Fira Sans', sans-serif;
}

header{
    background: none;
    display: flex;
    height: 6%;
    align-items: center;
    justify-content: space-between;
}

.header-brand{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-brand > div{
    padding-right: 30px;
    display: flex;
}

.header-brand> div >a, .header-buttons> a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    margin: auto;
    padding: 0 10px;
}

.header-buttons{
    padding-right: 10px;
}

nav{
    display:flex;
    height: 4%;
    background-color: #68507A;
    align-items: center;
    text-transform: uppercase;
    box-shadow: 0 0 8px 4px rgb(0 0 0 / 22%);
}

nav > form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

header > div > button ,.nav-button{
    background: none;
    outline: none;
    border: none;
    height: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-button:disabled{
    color: #68507A;
    background: white;
}

.nav-button:hover{
    color: #68507A;
    background: white;
}

.heading{
    text-align: center;
    color: white;
}

.page-body{
    display: flex;
    height: 90%;
    background: none;
}

.sidebar{
    align-items: center;
    height: 100%;
    width: 20%;
    overflow: scroll;
    box-shadow: 0 0 8px 4px rgb(0 0 0 / 22%);
    background: linear-gradient(to bottom right, #3f255547, #8888893d);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border: 1px solid rgb(255 255 255 / 7%); */
    z-index: 1;
}

.sidebar::-webkit-scrollbar {
    display: none;    /* Hide scrollbar for Chrome, Safari and Opera */
}

.sidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sidebar *{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 100%;    
    background: rgb(255 255 255 / 12%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 6%);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    /* border: 1px solid rgb(255 255 255 / 7%); */
}

.content form{
    color: #1E0431;
    margin: auto auto;
    padding: 20px;
    background: white;
    width: fit-content;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.center-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.center-form table{
    width: 100%;
    table-layout: fixed;
    text-align: center;
}


form > div{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.scroll-table{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.busroute-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1E0431;
    font-weight: bold;
}

.busroute-form label{
    font-size: 12px;
    width: 200px;
}

.busroute-form input{
    width: 200px;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 22%);
    border-style: none;
    border-radius: 5px;
}

input{
    width: 200px;
    padding: 5px;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 22%);
    border-style: none;
    border-radius: 5px;
}

.label-button, input[type="submit"]{
    font-size: 15px;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #8C025D;
    color: white;
    font-weight: bold;
    border-style: none;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 22%);
}

.label-button:disabled{
    opacity: 50%;
}

input[type="file" ]{
    display: none;
}

.button-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section button[type="submit"]{
    font-size: 15px;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #8C025D;
    color: white;
    font-weight: bold;
    border-style: none;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 22%);
}

#routemap {
    height: 100%;
    width: 100%;
    align-self: top;
    align-items: center;
    z-index: 0;
    display: block;
}

.mapdata{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 80%;
    align-self: top;
    align-items: center;
    z-index: 0;
  }

.maptable{
    display: flex;
    width: auto;
    width: 20%;
    overflow: scroll;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 8px 4px rgb(0 0 0 / 22%);
    z-index: 1;
}

.maptable::-webkit-scrollbar {
    display: none;    /* Hide scrollbar for Chrome, Safari and Opera */
}

.maptable {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

td > input{
    width: 50px;
}

td{
    background: none;
}

.buses{
    grid-template-columns: auto auto auto auto auto;
    gap: 1px;
    overflow: scroll;
    max-height: 50vh;
}

.s_section_cont{
    display: none;
    flex-direction: column;
}


.s_section_cont>span {
    margin: 2px -13px;
    width: 100%;
    background: #ffffff1c;
    padding: 5px;
    border-radius: 5px;
}

.s_section_cont>span>a {
    background: #ffffff00;
    border-radius: 5px;
    padding: 4px;
    display: inline-block;
    width: 70%;
    text-decoration: none;
    color:#ffffff;
    align-items: stretch;
}

.s_section_cont>span>a:hover {
    font-weight: bold;
}

.s_section_cont>span>a>i {
    float: right;
    padding: 1px;
}

.s_section_cont>span>i {
    margin: 0 20px;
    color: #76C551;
}


.s_section{
    cursor: pointer;
    padding: 20px;
    background: #ffffff;
    margin: 10px 0px;
    color: #494949;    ;
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.route{
    padding: 10px 20px;
    background: #8C025D;
    margin: 10px 0px;
    color: white;
}

input{
    margin: 5px;
}

button{
    margin: 5px;
}

select{
    margin: 5px;
    background: none;
    border: none;
    font-size: 15px;
    color: #1E0431;
    font-weight: bold;
}

label{
    margin: 5px;
}

label{
    display: block;
}

.label-field-1{
    float: left;
    margin: 0 10px;
}

.csvfiles label{
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 22%);
    padding: 5px;
    border-radius: 5px;
    color: grey;
}

input[type="checkbox"] {
    background: none;
    border: none;
    box-shadow: none;
}

.icon-button{
    font-size: 20px;
    color: #8C025D;
    background: none;
    border: none;
}

.icon-button:active{
    color: #8c025e7a;
}

th{
    color: #8C025D;
}

table{
    border-collapse: collapse;
}

/* thead{
    color: #8C025D;
    padding: 2px;
} */

thead *{
    /* background-color: #8C025D;
    color: white; */
    padding: 2px;
    vertical-align: top;    
}

.spaced{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.transparent{
    opacity: 0;
}

