<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUBBS Transit</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-brand">
        <div>
          <img src="{{url_for('static',filename='images/gov_logo_wt.png')}}" height="35">
          <a href="https://mohua.gov.in/" target="_blank">MOHUA</a>
        </div>
        <div>
          <img src="{{url_for('static',filename='images/Pubbs_transit_logo_transparent.png')}}" height="35">
          <a href="https://pubbs.co.in/" target="_blank">PUBBS</a>
        </div>
      </div>
      <div class="header-buttons">
        <a href="/logout">Logout</a>
      </div>
    </header>
    <nav>
      <form>
        <button type="submit" class="nav-button" formaction="{{url_for('busroute')}}">Bus Route</button>
        {% if 'route' in session %}
        <button type="submit" class="nav-button" formaction="{{url_for('stop_details')}}">Stop Details</button>
        <button type="submit" class="nav-button" formaction="{{url_for('route_details')}}">Build Route</button>
        <button type="submit" class="nav-button" formaction="{{url_for('stop_char')}}">Stop Characteristics</button>
        <button type="submit" class="nav-button" formaction="{{url_for('table_details')}}">Table Details</button>
        <button type="submit" class="nav-button" formaction="{{url_for('ols_details')}}">OLS Details</button>
        <button type="submit" class="nav-button" formaction="{{url_for('constraints_details')}}">Constraints</button>
        <button type="submit" class="nav-button" formaction="{{url_for('service_details')}}">Service Details</button>
        <button type="submit" class="nav-button" formaction="{{url_for('ga_params')}}">GA Params</button>
        <button type="submit" class="nav-button" formaction="{{url_for('scheduling_details')}}">Scheduling Details</button>
        <button type="submit" class="nav-button" formaction="{{url_for('scheduling')}}">Scheduling Files</button>
        <button type="submit" class="nav-button" formaction="{{url_for('buses')}}">Buses</button>
        {% endif %}
      </form>
    </nav>
    <div class="page-body">
      <div class="sidebar">
        <div class="route">Route: {{ session['route'] }}</div>
        <form method="get" action="{{url_for('frequency')}}" style="display: flex;flex-direction: column;align-items: center;">
          <button id="freq" class ="label-button" type="submit" disabled hidden>Frequency Optimisation</button>
        </form>
        <form method="post" action="{{url_for('scheduling_run',method='Choose')}}" style="display: flex;flex-direction: column;align-items: center;">
          <button id="sched" class ="label-button" type="submit" disabled hidden>Scheduling</button>
        </form>
        <div id="showfreq" class="s_section">Frequency Optimisation<i class="fa-solid fa-caret-down"></i></div>
        <div id="statusfreq" class="s_section_cont"></div>
        <div id="showsched" class="s_section">Scheduling<i class="fa-solid fa-caret-down"></i></div>
        <div id="statussched" class="s_section_cont"></div>
        {% if session['route'] %}
        <div id="routemap"></div>
        {% endif %}
      </div>
        {% block content %}
        {% endblock %}
    </div>
    
    {% if message %}
      <script>
        var msgbox = document.getElementById('messagebox')

        msgbox.innerHTML = '<i class="fa fa-circle-info" style="color: #3f59a6;"></i>&nbsp;' + msgbox.innerHTML + '&nbsp; <i class="fa fa-x"></i>'

        msgbox.addEventListener('click',function(){
          msgbox.style.display = 'none'
        })

      </script>
    {% endif %}
    <script>
      const statusfreq = document.getElementById("statusfreq");
      const showfreq = document.getElementById("showfreq");
      showfreq.onclick = function () {
        if (statusfreq.style.display !== "none") {
          statusfreq.style.display = "none";
          showfreq.childNodes[1].classList.remove('fa-rotate-180')
        } else {
          statusfreq.style.display = "flex";
          showfreq.childNodes[1].classList.add('fa-rotate-180')
        }
      };
      const statussched = document.getElementById("statussched");
      const showsched = document.getElementById("showsched");
      showsched.onclick = function () {
        if (statussched.style.display !== "none") {
          statussched.style.display = "none";
          showsched.childNodes[1].classList.remove('fa-rotate-180')
        } else {
          statussched.style.display = "flex";
          showsched.childNodes[1].classList.add('fa-rotate-180')
        }
      };
    </script>
    {% block foot %}
    {% endblock %}
    <script>
      // Fetch the JSON data from the Flask endpoint
      fetch('/status-display')
        .then(response => response.json())
        .then(data => {
          // Iterate over the keys in the JSON data
          let index = 1;
          const links = [
          "{{url_for('busroute')}}"                          
          ,"{{url_for('route_details')}}"                         
          ,"{{url_for('stop_char')}}"                             
          ,"{{url_for('table_details')}}"
          ,"{{url_for('table_details')}}"
          ,"{{url_for('table_details')}}"
          ,"{{url_for('table_details')}}"                         
          ,"{{url_for('ols_details')}}"                           
          ,"{{url_for('constraints_details')}}"                   
          ,"{{url_for('service_details')}}"                       
          ,"{{url_for('ga_params')}}"                             
          ,"{{url_for('scheduling_details')}}"                    
          ,"{{url_for('scheduling')}}"                            
          ,"{{url_for('buses')}}"  
          ]
          for (let key in data) {
            if ((key != 'Frequency') && (index <= 11)){
              // Create a new <span> element for each key
              let span = document.createElement('span');

              // Set the text content of the <span> element to the key
              span.innerHTML = '<i class="fa-solid fa-circle-check transparent"></i>' + '<a href=' + links[index-1] + '>' + key + '<i class="fa-solid fa-chevron-right"></i></a>';

              // Set the color of the <span> element based on the value of the key
              if (data[key] == 1) {
                span.childNodes[0].classList.remove('transparent');
              } else if (data[key] > 0){
                span.childNodes[1].textContent = span.childNodes[1].textContent + ' ' + Math.round(data[key]*100) + '%'
              }

              // Append the <span> element to the document body
              document.getElementById('statusfreq').appendChild(span);
            } else if (key == 'Frequency'){
              var freqbtn = document.getElementById('freq');
              var freqbtnparent = freqbtn.parentElement;

              freqbtn.removeAttribute('hidden');
              document.getElementById('statusfreq').appendChild(freqbtnparent);
              if (data[key] == 11){
                freqbtn.removeAttribute('disabled');
              }
            } else if ((key != 'Scheduling') && (12 < index)){
              // Create a new <span> element for each key
              let span = document.createElement('span');

              // Set the text content of the <span> element to the key
              span.innerHTML = '<i class="fa-solid fa-circle-check transparent"></i>' + '<a href=' + links[index-2] + '>' + key + '<i class="fa-solid fa-chevron-right"></i></a>';

              // Set the color of the <span> element based on the value of the key
              if (data[key] == 1) {
                span.childNodes[0].classList.remove('transparent');
              } else if (data[key] > 0){
                span.childNodes[1].textContent = span.childNodes[1].textContent + ' ' + Math.round(data[key]*100) + '%'
              }

              // Append the <span> element to the document body
              document.getElementById('statussched').appendChild(span);
            } else if (key == 'Scheduling'){
              var schbtn = document.getElementById('sched');
              var schbtnparent = schbtn.parentElement;

              schbtn.removeAttribute('hidden');
              document.getElementById('statussched').appendChild(schbtnparent);
              if (data[key] >= 2){
                schbtn.removeAttribute('disabled');
              }
            };
            index++;
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    </script>
  </body>
</html>
<!-- 
{% if session['route'] %}
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<script>
  var _clickedMarkersarray = [];
  var _polyline = null;

  var _latitudes = []
  var _longitudes = []

  var _markersLayer = L.layerGroup();
  var _linesLayer = L.layerGroup();

  // Fetch data from Flask endpoint
  fetch('/route-data')
    .then(response => response.json())
    .then(data => {
      // Loop through the data and add markers
      data.forEach(point => {
        var marker = L.marker([point.lat, point.lng]).addTo(_markersLayer);
        marker.bindTooltip(point.name, {permanent: true, className: "my-label", offset: [0, 0] });
        marker.bindPopup(point.name);
        marker.key = point.id;
        _latitudes.push(point.lat);
        _longitudes.push(point.lng);
        _clickedMarkersarray.push(marker);
      });
      if (_clickedMarkersarray.length > 1) {
        var _latlngs = _clickedMarkersarray.map(function(marker) {
          return marker.getLatLng();
        });
        // Remove the previous polyline if it exists
        if (_polyline) {
          _linesLayer.removeLayer(_polyline);
        }
        var _polyline = L.polyline(_latlngs, { color: '#3388ff' }).addTo(_linesLayer);
      }
      var north = Math.max(..._latitudes)
      var south = Math.min(..._latitudes)
      var east = Math.max(..._longitudes)
      var west = Math.min(..._longitudes)

      var southWest = L.latLng(south, west),
          northEast = L.latLng(north, east),
          bounds = L.latLngBounds(southWest, northEast);

      var routemap = L.map('routemap', {
          maxBounds: bounds,
          maxZoom: 19,
          minZoom: 10
      });

      // var map = L.map('routemap');

      routemap.attributionControl.setPrefix(false)
      routemap.removeControl(routemap.zoomControl);
      _markersLayer.addTo(routemap);
      _linesLayer.addTo(routemap);

      routemap.setView([(north+south)/2, (east+west)/2],15);
    })
    .catch(error => {
      console.error('Error:', error);
    });
</script>
{% endif %} -->