<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Layout</title>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-brand">
        <b>MOHUA</b>
        <b>PUBBS</b>
      </div>
      <div class="header-buttons">
        <button type="button">Login</button>
        <button type="button">Sign Up</button>
      </div>
    </header>
    <nav>
      <form>
        <button type="submit" class="nav-button" formaction="{{url_for('busroute')}}">Bus Route</button>
        {% if 'route' in session %}
        <button type="submit" class="nav-button" formaction="{{url_for('stop_details')}}">Stop Details</button>
        <button type="submit" class="nav-button" formaction="{{url_for('route_details')}}">Build Route</button>
        <button type="submit" class="nav-button" formaction="{{url_for('stop_char')}}">Stop Characteristics</button>
        <button type="submit" class="nav-button" formaction="{{url_for('table_details')}}">Table Details</button>
        <button type="submit" class="nav-button" formaction="{{url_for('ols_details')}}">OLS Details</button>
        <button type="submit" class="nav-button" formaction="{{url_for('constraints_details')}}">Constraints</button>
        <button type="submit" class="nav-button" formaction="{{url_for('service_details')}}">Service Details</button>
        <button type="submit" class="nav-button" formaction="{{url_for('ga_params')}}">GA Params</button>
        <button type="submit" class="nav-button" formaction="{{url_for('scheduling_details')}}">Scheduling Details</button>
        <button type="submit" class="nav-button" formaction="{{url_for('buses')}}">Buses</button>
        <button type="submit" class="nav-button" formaction="{{url_for('scheduling')}}">Scheduling Files</button>
        {% endif %}
      </form>
    </nav>
    <div class="page-body">
      <div class="sidebar">
        <div class="route">Route: {{ session['route'] }}</div>
        <form method="get" action="{{url_for('frequency')}}">
          <button id="freq" type="submit" disabled hidden>Frequency Optimisation</button>
        </form>
        <form method="post" action="{{url_for('scheduling_run',method='Choose')}}">
          <button id="sched" type="submit" disabled hidden>Scheduling</button>
        </form>
        <div id="showfreq" class="s_section">Frequency Optimisation</div>
        <div id="statusfreq" class="s_section_cont"></div>
        <div id="showsched" class="s_section">Scheduling</div>
        <div id="statussched" class="s_section_cont"></div>
      </div>
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <script>
      const statusfreq = document.getElementById("statusfreq");
      const showfreq = document.getElementById("showfreq");
      showfreq.onclick = function () {
        if (statusfreq.style.display !== "none") {
          statusfreq.style.display = "none";
        } else {
          statusfreq.style.display = "block";
        }
      };
      const statussched = document.getElementById("statussched");
      const showsched = document.getElementById("showsched");
      showsched.onclick = function () {
        if (statussched.style.display !== "none") {
          statussched.style.display = "none";
        } else {
          statussched.style.display = "block";
        }
      };
    </script>
    {% block foot %}
    {% endblock %}
    <script>
      // Fetch the JSON data from the Flask endpoint
      fetch('/status-display')
        .then(response => response.json())
        .then(data => {
          // Iterate over the keys in the JSON data
          let index = 1;
          for (let key in data) {
            if ((key != 'Frequency') && (index <= 11)){
              // Create a new <p> element for each key
              let p = document.createElement('p');

              // Set the text content of the <p> element to the key
              p.textContent = key;

              // Set the color of the <p> element based on the value of the key
              if (data[key] == 1) {
                p.style.color = 'black';
              } else if (data[key] > 0){
                p.style.color = '#999999';
                p.textContent = p.textContent + ' ' + Math.round(data[key]*100) + '%'
              } else {
                p.style.color = '#999999';
              }

              // Append the <p> element to the document body
              document.getElementById('statusfreq').appendChild(p);
            } else if (key == 'Frequency'){
              var freqbtn = document.getElementById('freq');
              var freqbtnparent = freqbtn.parentElement;

              freqbtn.removeAttribute('hidden');
              document.getElementById('statusfreq').appendChild(freqbtnparent);
              if (data[key] == 11){
                freqbtn.removeAttribute('disabled');
              }
            } else if ((key != 'Scheduling') && (12 < index)){
              // Create a new <p> element for each key
              let p = document.createElement('p');

              // Set the text content of the <p> element to the key
              p.textContent = key;

              // Set the color of the <p> element based on the value of the key
              if (data[key] == 1) {
                p.style.color = 'black';
              } else if (data[key] > 0){
                p.style.color = '#999999';
                p.textContent = p.textContent + ' ' + Math.round(data[key]*100) + '%'
              } else {
                p.style.color = '#999999';
              }

              // Append the <p> element to the document body
              document.getElementById('statussched').appendChild(p);
            } else if (key == 'Scheduling'){
              var schbtn = document.getElementById('sched');
              var schbtnparent = schbtn.parentElement;

              schbtn.removeAttribute('hidden');
              document.getElementById('statussched').appendChild(schbtnparent);
              if (data[key] >= 2){
                schbtn.removeAttribute('disabled');
              }
            };
            index++;
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    </script>
  </body>
</html>