<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PUBBS Transit</title>
  <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
<script>var tab = $( "button:contains('Live')" ).attr('disabled','');</script>
<header>
  <div class="header-brand">
    <div>
      <img src="{{url_for('static',filename='images/gov_logo_wt.png')}}" height="35">
      <a href="https://mohua.gov.in/" target="_blank">MOHUA</a>
    </div>
    <div>
      <a style="display: flex;"><span id='account-show' class="material-symbols-outlined">person</span></a>
      <div style="border-left:2px solid #ffffff84;height:100%;margin-right: 10px;"></div>
      <img src="{{url_for('static',filename='images/Pubbs_transit_logo_transparent.png')}}" height="35">
      <a href="https://pubbs.co.in/" target="_blank">PUBBS</a>
    </div>
  </div>
</header>
<nav style="background: none;box-shadow: none;">
  <div id="account">
    <div id="profile">
      <span class="material-symbols-outlined" style="padding: 5px;font-size: 40px;">person</span>
      <b style="font-size: 15px;">{{ session['email'] }}</b>
    </div>
    <br>
    <a class="" href="{{ url_for('logout')}}" id="logout-button">
      <span class="material-symbols-outlined">logout</span><span>Log out</span>
    </a>
  </div>
</nav>
<video id="video" width="200" height="150" autoplay style="display: none;"></video>
<select id="buses">
  <option value="Bus 1">Bus 1</option>
  <option value="Bus 2">Bus 2</option>
  <option value="Bus 3">Bus 3</option>
</select>
<div class="content" style="
    height: 80%;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
">
  <div class="mapdata">
    <div id="route-bar"></div>
    {% if message %}<div id="messagebox">{{message}}</div>{% endif %}
    <div id="map" class="map2"></div>
    <div id="panel2"></div>
    <div id="rightpanel" style="background: none;">
      <div id="currentbus" style="width: 100%;text-align: center;font-size: 40px;color: white;">{{ bus }}</div>
      <hr style="width: 80%;">
      <div style="width: 100%;text-align: center;font-size: 30px;color: white;">{{ session['route'] }}</div>
      <button id="panic">SOS</button>
    </div>
  </div>
  <p style="position:fixed;opacity:0;" id="username">{{ session['email'] }}</p>
</div>
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  {% if message %}
    <script>
      var msgbox = document.getElementById('messagebox')

      msgbox.innerHTML = '<div style="padding: 4px;">' + msgbox.innerHTML + '</div><div style=" background: #76C551; padding: 4px 6px; "><i class="fa fa-check" style="color: #ffffff;"></i></div>'

      msgbox.addEventListener('click',function(){
        msgbox.style.display = 'none'
      })

    </script>
  {% endif %}
  <script>
    var accountshow = document.getElementById('account-show');
    var account = document.getElementById('account');
    accountshow.addEventListener('click',function(){
      if (account.style.display == 'flex'){
        account.style.display = 'none'
      } else {
        account.style.display = 'flex'
      }
    })



    var busMarker = {
        radius : 6,
        color  : '#8C025D',
        opacity: 1,
        stroke : false,
        fillOpacity: 1,
        weight:5,
        fillcolor:'#8C025D',
    }

    var stopMarker = {
        radius : 6,
        color  : '#68507A',
        opacity: 1,
        stroke : false,
        fillOpacity: 1,
        weight:5,
        fillcolor:'#68507A',
    }

    var map = L.map('map',{ zoomControl: false, zoomSnap: 0.25}).setView([51.505, -0.09], 13);

    L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
      subdomains: 'abcd',
      // maxZoom: 20
    }).addTo(map);
    
    // // Search box
    // var searchControl = L.Control.geocoder({
    //   defaultMarkGeocode: false,
    //   placeholder: 'Search location...',
    //   errorMessage: 'No results found.',
    //   showResultIcons: true,
    //   collapsed: false,
    // }).on('markgeocode', function (e) {
    //   map.setView(e.geocode.center, 13);
    //   addMarker(e.geocode.center);
    // }).addTo(map);

    // // For clearing search results
    // document.querySelector('div.leaflet-top.leaflet-right > div > ul').addEventListener('click', function () {
    //     searchControl._clearResults()
    // })
    // document.querySelector('#map').addEventListener('click', function () {
    //     searchControl._clearResults()
    // })

    // livelocation
    var email = document.getElementById('username').textContent;

    // var socket = io();
    // socket.on('connect', function() {
    //     socket.emit('join',{room: email});
    //     socket.emit('my event', {data: 'I\'m connected!'});
    // });

    map.on('click', function(e) {
      var selectedbus = document.getElementById('buses').value

      // socket.emit('location', {latitude: e.latlng.lat, longitude: e.latlng.lng, bus:selectedbus})

      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/gpslocation', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
          console.log('Location sent successfully');
        }
      };
      xhr.send(JSON.stringify({latitude: e.latlng.lat, longitude:  e.latlng.lng, bus:selectedbus}));
    });

    var linesLayer = L.layerGroup().addTo(map);
    var markersLayer = L.layerGroup().addTo(map);

    var markersarray = [];
    var polyline = null;

    var latitudes = []
    var longitudes = []

    var stop_names = []

    // Fetch data from Flask endpoint
    fetch('/route-data')
      .then(response => response.json())
      .then(data => {
        // Loop through the data and add markers
        data.forEach(point => {
          var marker = L.circleMarker([point.lat, point.lng],busMarker).addTo(markersLayer);
          marker.bindTooltip(point.name, {permanent: true, className: "my-label",direction : 'bottom', offset: [0, -12] });
          marker.bindPopup(point.name);
          marker.key = point.id;
          marker._path.style.filter = "hue-rotate(120deg)"
          latitudes.push(point.lat);
          longitudes.push(point.lng);
          markersarray.push(marker);
          stop_names.push(point.name)
        });
        if (markersarray.length > 1) {
          var latlngs = markersarray.map(function(marker) {
            return marker.getLatLng();
          });
          // Remove the previous polyline if it exists
          if (polyline) {
            linesLayer.removeLayer(polyline);
          }
          var polyline = L.polyline(latlngs, { color: '#000000', weight: 8 , opacity: 0.4}).bringToBack().addTo(linesLayer);
        }
        var group = L.featureGroup(markersarray);
        map.setMaxBounds(group.getBounds());
        var bounds = L.latLngBounds([Math.max(...latitudes),Math.max(...longitudes)], [Math.min(...latitudes),Math.min(...longitudes)]);
        map.fitBounds(bounds);
      })
      .catch(error => {
        console.error('Error:', error);
      });

      var prevstop = markersarray[0];
      var nextstop = markersarray[1];

      var busLayer = L.layerGroup().addTo(map);

      pollInterval = setInterval(function() { // run function every 4000 ms
          refreshPings();
        }, 4000);

      refreshPings();

      function refreshPings() {
          $.ajax({
            url: '/get-pings',
            dataType: 'json',
            type: 'get',
            success: function(data) {
              if ( data ) {
                console.log(data);
                for (var key in data){
                  processPing(data[key],key);
                }
              }
            },
            error: function() {
              console.log('Error!');
            }
          });
        };

      arrival_times = {}
      busmarkers = {}

      function processPing(data, key) {
        // // Clear bus location
        // busLayer.clearLayers();

        var pointer = L.marker([data[0]['latitude'],data[0]['longitude']]);
        var speed = data[0]['Speed']
        arrival_times[key] = data[3]['arrival_times'];

        var distances = []
        markersarray.forEach(marker => {
          distances.push(distBet(marker,pointer));
        })
        
        // Based on distance from stops, determine previous and next stop
        var closestStop = getClosestStop(distances, markersarray);

        // // Save the perpendicular distance of pointer from each segment
        // distances = []
        // for (let i = markersarray.indexOf(closestStop)-1 ; i <= markersarray.indexOf(closestStop); i++) {
        //   var proj = calculateProjection(markersarray[i].getLatLng(),markersarray[i+1].getLatLng(),pointer.getLatLng());
        //   var projMarker = L.circleMarker([proj.x,proj.y])
        //   distances.push(distBet(projMarker,pointer));
        // }

        // // Based on perpendicular distance from segment, determine previous and next stop
        // closestStop = getClosestStop(distances, markersarray.slice(markersarray.indexOf(closestStop)-1));

        if (markersarray.indexOf(closestStop) != 0 && markersarray.indexOf(closestStop) != markersarray.length-1) {
          P = pointer
          A = markersarray[markersarray.indexOf(closestStop) - 1]
          B = closestStop
          C = markersarray[markersarray.indexOf(closestStop) + 1]

          if (calculateAngle(P,B,A) > calculateAngle(P,B,C)){
            prevstop = A
          } else {
            prevstop = C
          }
        }


        if (markersarray.indexOf(closestStop)+1 != markersarray.length){
          // Three sides of trianble joining nearest stop, prev stop and next stop
          var side1 = distBet(pointer,closestStop)
          var side2 = distBet(closestStop,markersarray[markersarray.indexOf(closestStop)+1])
          var side3 = distBet(markersarray[markersarray.indexOf(closestStop)+1],pointer)

          //If triangle is obtuse, previous stop is the one before closest stop
          if (side3**2 > side2**2+side1**2){
            prevstop = markersarray[markersarray.indexOf(closestStop) - 1]
          } else {
            prevstop = closestStop
          }
        } else {
          prevstop = markersarray[markersarray.indexOf(closestStop) - 1]
        }

        // Check if the next stop is last stop
        if (markersarray.indexOf(closestStop)+1 == markersarray.length) {
          prevstop = markersarray[markersarray.indexOf(closestStop)-1]
        };

        nextstop = markersarray[markersarray.indexOf(prevstop)+1]

        // // Show previous and next stops
        // prevstop._path.style.filter = "grayscale(1)";
        // prevstop.addTo(map);
        // nextstop._path.style.filter = "sepia(1)";
        // nextstop.addTo(map);
        
        if (busLayer.hasLayer(busmarkers[key])) {
          busLayer.removeLayer(busmarkers[key]);
        }

        // Get the location of pointer prjected on final segment
        var proj = calculateProjection(prevstop.getLatLng(),nextstop.getLatLng(),pointer.getLatLng());
        var projMarker = L.circleMarker([proj.x,proj.y],busMarker)

        busmarkers[key] = projMarker;

        busmarkers[key].addTo(busLayer);

        // document.getElementById('route-bar').replaceChildren()

        if (document.getElementById('route-bar').childNodes.length == 0) {
          totalDist = 0
          var segments = []
          for (let i = 0; i < markersarray.length-1; i++) {
            var dist = distBet(markersarray[i],markersarray[i+1])
            segments.push(dist);
            totalDist = totalDist + dist
          };
          
          n = 1
          segments.forEach(segment => {
            var segElem = document.createElement('div')
            segElem.classList.add('route-segment')
            segElem.style.width = segment*100/totalDist + '%'
            var stopElem = document.createElement('div')
            stopElem.classList.add('stop-marker')
            stopElem.innerText = n
            segElem.appendChild(stopElem)
            document.getElementById('route-bar').appendChild(segElem)
            n++
          });
          var segElem = document.createElement('div')
          segElem.classList.add('route-segment')
          segElem.style.width = '0%'
          var stopElem = document.createElement('div')
          stopElem.classList.add('stop-marker')
          stopElem.innerText = n
          segElem.appendChild(stopElem)
          document.getElementById('route-bar').appendChild(segElem)
        }

        //time elements code

        var covDist = 0;
        for (let i = 0; i <= markersarray.indexOf(prevstop)-1 ; i++) {
          covDist = covDist + distBet(markersarray[i],markersarray[i+1])
        };
        covDist = covDist + distBet(prevstop,projMarker);

        var e = document.getElementById("busElem" + key)
        if(e != null){
          e.remove()
        } 

        var busElem = document.createElement('div')
        busElem.id = "busElem" + key
        busElem.classList.add('route-bus')
        busElem.style.width = covDist*100/totalDist + '%'
        var busLocElem = document.createElement('div')
        busLocElem.classList.add('stop-marker')
        busLocElem.classList.add('bus-marker')
        var currentbus = document.getElementById('currentbus').textContent;
        if (currentbus === key) {
          busLocElem.style.border ='ridge'
        }
        busLocElem.innerHTML = '<span class="material-symbols-outlined bus-icon">directions_bus</span>'
        busElem.appendChild(busLocElem)
        var speedElem = document.createElement('div')
        speedElem.classList.add('speed')
        speedElem.innerText = speed + ' km/h'
        speedElem.style.margin = '-35px 5px 0px 0px'
        speedElem.style.right = '0'
        speedElem.style.background = 'black'
        busElem.appendChild(speedElem)
        document.getElementById('route-bar').appendChild(busElem)

        document.querySelectorAll('.bus-marker').forEach(e => {
          e.addEventListener('click', function(){
            const key = this.parentNode.id.replace('busElem','')
            console.log('clicked',key)
            var route_segments = document.querySelectorAll('#route-bar .route-segment')
            document.querySelectorAll('.route-segment .stop-time').forEach(e => e.remove());

            for (let i = 0; i < route_segments.length ; i++) {
              var timeElem = document.createElement('div')
              timeElem.classList.add('stop-time')
              timeElem.innerText = arrival_times[key][i]
              route_segments[i].appendChild(timeElem)
            }
          });
        });

        var times = document.getElementById('panel2')
        times.replaceChildren()
        for (let i = 0; i < stop_names.length ; i++) {
          var time_elem = document.createElement('div')
          time_elem.innerHTML = '<div style="margin: 0 50px;">' + stop_names[i] + '</div><div style="margin: 0 50px;">' + arrival_times[currentbus][i] +'</div>'
          times.appendChild(time_elem)
        }
      };

      function distBet(marker1,marker2) {
        let lat1 = marker1.getLatLng().lat
        let lng1 = marker1.getLatLng().lng
        let lat2 = marker2.getLatLng().lat
        let lng2 = marker2.getLatLng().lng
        
        let deltalat = lat1 - lat2
        let deltalng = lng1 - lng2
        let distance = Math.sqrt(deltalat ** 2 + deltalng ** 2);
        return distance
      }


      function getClosestStop(distances, stops) {
        // Find the index of the minimum value in distances
        let minIndex = 0;
        for (let i = 1; i < distances.length; i++) {
          if (distances[i] < distances[minIndex]) {
            minIndex = i;
          }
        }

        const closestStop = stops[minIndex];

        return closestStop;
      }

      function calculateAngle(A, B, C) {
        const angle1 = Math.atan2(A.lng - B.lng, A.lat - B.lat);
        const angle2 = Math.atan2(C.lng - B.lng, C.lat - B.lat);

        let angle = angle2 - angle1;
        angle = angle * (180 / Math.PI);

        if (angle < 0) {
          angle += 360;
        }

        return angle;
      }

      function calculateProjection(A, B, X) {
        const AB = { lat: B.lat - A.lat, lng: B.lng - A.lng };
        const AX = { lat: X.lat - A.lat, lng: X.lng - A.lng };
        const dotProduct = AX.lat * AB.lat + AX.lng * AB.lng;
        const lengthABSquared = AB.lat * AB.lat + AB.lng * AB.lng;
        const scalarProjection = dotProduct / lengthABSquared;
        const P = {
          x: A.lat + scalarProjection * AB.lat,
          y: A.lng + scalarProjection * AB.lng,
        };
        return P;
      }

      function calculateAverage(array) {
          var total = 0;
          var count = 0;

          array.forEach(function(item, index) {
              total += item;
              count++;
          });

          return total / count;
      }
      
      stValues = [];

      chart = new Chart("myChart", {
        type: "scatter",
        data: {
          datasets: [{
            pointRadius: 2,
            pointBackgroundColor: "rgba(0,0,255,1)",
            data: stValues
          }]
        },
        options: {
          legend: {display: false},
          scales: {
            xAxes: [{ticks: {min: 0, max: 24},scaleLabel: {display: true,labelString: 'Time'}}],
            yAxes: [{ticks: {min: 0, max:100},scaleLabel: {display: true,labelString: '% Distance Covered'}}],
          },
          title: {
            display: true,
            text: 'Live Space-Time Chart',
            color: 'navy',
            position: 'top',
            align: 'center',
            font: {
                weight: 'bold'
            },
            padding: 8,
            fullSize: true,
          }
        }
      });
  </script>
  <script>
    // VIDEO
    // Get the video element
    const video = document.getElementById('video');

    // Check if the browser supports media devices
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
      // Get user permission to use the webcam
      navigator.mediaDevices.getUserMedia({ video: true })
        .then(function(stream) {
          // Set the video source to the webcam stream
          video.srcObject = stream;
        })
        .catch(function(error) {
          console.error('Error accessing the webcam:', error);
        });
    }

    // Get the capture button
    const captureButton = document.getElementById('capture');

    function uploadimage() {
      // Create a canvas element
      const canvas = document.createElement('canvas');
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      const context = canvas.getContext('2d');

      // Draw the current frame of the video onto the canvas
      context.drawImage(video, 0, 0, canvas.width, canvas.height);

      // Convert the canvas image to a data URL
      const imageData = canvas.toDataURL('image/png');

      // Send the image data to the Flask endpoint
      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/uploadimage', true);
      xhr.setRequestHeader('Content-Type', 'application/json');

      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
          console.log('Image uploaded successfully');
        }
      };

      xhr.send(JSON.stringify({ image: imageData }));
    };

    setInterval(uploadimage,5000)

    // Sending live location
    function sendlocation(){
      var currentbus = document.getElementById('currentbus').textContent;

      var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
      }

      navigator.geolocation.getCurrentPosition(function(location) {
        var lat = location.coords.latitude;
        var lng = location.coords.longitude;
        var acc = location.coords.accuracy;
        var content = document.createElement('p')
        content.textContent = lat + ' ' + lng + ' ' + acc
        // document.getElementById('rightpanel').replaceChildren()
        // document.getElementById('rightpanel').appendChild(content)

        // Send the image data to the Flask endpoint
        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/gpslocation', true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            console.log('Location sent successfully');
          }
        };

        xhr.send(JSON.stringify({latitude: lat, longitude: lng, bus:currentbus}));
      },
      function error(msg) {alert('Please enable your GPS position feature.');},
      options);
    }
    setInterval(sendlocation,5000)

  </script>
</body>