{% extends "dashboard.html" %}
{% block head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  {% endblock %}
{% block content %}
<script>var tab = $( "button:contains('Live')" ).attr('disabled','');</script>
<select id="buses">
  <option value="Bus 1">Bus 1</option>
  <option value="Bus 2">Bus 2</option>
  <option value="Bus 3">Bus 3</option>
</select>
<div class="content">
  <div class="mapdata">
    <div id="route-bar"></div>
    {% if message %}<div id="messagebox">{{message}}</div>{% endif %}
    <div id="map" class="map2"></div>
    <div id="panel2"><canvas id="myChart" style="width:100%;max-width:100%;height:100%;max-height:100%"></canvas></div>
    <div id="busimages">
    </div>
  </div>
  <p style="position:fixed;opacity:0;" id="username">{{ session['email'] }}</p>
</div>
{% endblock %}
{% block foot %}
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <script>
    var busMarker = {
        radius : 6,
        color  : '#8C025D',
        opacity: 1,
        stroke : false,
        fillOpacity: 1,
        weight:5,
        fillcolor:'#8C025D',
    }

    var stopMarker = {
        radius : 6,
        color  : '#68507A',
        opacity: 1,
        stroke : false,
        fillOpacity: 1,
        weight:5,
        fillcolor:'#68507A',
    }

    var map = L.map('map',{ zoomControl: false, zoomSnap: 0.25}).setView([51.505, -0.09], 13);

    L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
      subdomains: 'abcd',
      // maxZoom: 20
    }).addTo(map);
    
    // // Search box
    // var searchControl = L.Control.geocoder({
    //   defaultMarkGeocode: false,
    //   placeholder: 'Search location...',
    //   errorMessage: 'No results found.',
    //   showResultIcons: true,
    //   collapsed: false,
    // }).on('markgeocode', function (e) {
    //   map.setView(e.geocode.center, 13);
    //   addMarker(e.geocode.center);
    // }).addTo(map);

    // // For clearing search results
    // document.querySelector('div.leaflet-top.leaflet-right > div > ul').addEventListener('click', function () {
    //     searchControl._clearResults()
    // })
    // document.querySelector('#map').addEventListener('click', function () {
    //     searchControl._clearResults()
    // })

    // livelocation
    var email = document.getElementById('username').textContent;

    var socket = io();
    socket.on('connect', function() {
        socket.emit('join',{room: email});
        socket.emit('my event', {data: 'I\'m connected!'});
    });

    map.on('click', function(e) {
      var selectedbus = document.getElementById('buses').value
      socket.emit('location', {latitude: e.latlng.lat, longitude: e.latlng.lng, bus:selectedbus})
    });

    var linesLayer = L.layerGroup().addTo(map);
    var markersLayer = L.layerGroup().addTo(map);

    var markersarray = [];
    var polyline = null;

    var latitudes = []
    var longitudes = []

    // Fetch data from Flask endpoint
    fetch('/route-data')
      .then(response => response.json())
      .then(data => {
        // Loop through the data and add markers
        data.forEach(point => {
          var marker = L.circleMarker([point.lat, point.lng],busMarker).addTo(markersLayer);
          marker.bindTooltip(point.name, {permanent: true, className: "my-label",direction : 'bottom', offset: [0, -12] });
          marker.bindPopup(point.name);
          marker.key = point.id;
          marker._path.style.filter = "hue-rotate(120deg)"
          latitudes.push(point.lat);
          longitudes.push(point.lng);
          markersarray.push(marker);
        });
        if (markersarray.length > 1) {
          var latlngs = markersarray.map(function(marker) {
            return marker.getLatLng();
          });
          // Remove the previous polyline if it exists
          if (polyline) {
            linesLayer.removeLayer(polyline);
          }
          var polyline = L.polyline(latlngs, { color: '#000000', weight: 8 , opacity: 0.4}).bringToBack().addTo(linesLayer);
        }
        var group = L.featureGroup(markersarray);
        map.setMaxBounds(group.getBounds());
        var bounds = L.latLngBounds([Math.max(...latitudes),Math.max(...longitudes)], [Math.min(...latitudes),Math.min(...longitudes)]);
        map.fitBounds(bounds);
      })
      .catch(error => {
        console.error('Error:', error);
      });

      var prevstop = markersarray[0];
      var nextstop = markersarray[1];

      var busLayer = L.layerGroup().addTo(map);

      pollInterval = setInterval(function() { // run function every 4000 ms
          refreshPings();
        }, 4000);

      refreshPings();

      function refreshPings() {
          $.ajax({
            url: '/get-pings',
            dataType: 'json',
            type: 'get',
            success: function(data) {
              if ( data ) {
                console.log(data);
                for (var key in data){
                  processPing(data[key],key);
                }
              }
            },
            error: function() {
              console.log('Error!');
            }
          });
        };

      arrival_times = {}
      busmarkers = {}

      function processPing(data, key) {
        // // Clear bus location
        // busLayer.clearLayers();

        var pointer = L.marker([data[0]['latitude'],data[0]['longitude']]);
        var speed = data[0]['Speed']
        arrival_times[key] = data[3]['arrival_times'];

        var distances = []
        markersarray.forEach(marker => {
          distances.push(distBet(marker,pointer));
        })
        
        // Based on distance from stops, determine previous and next stop
        var closestStop = getClosestStop(distances, markersarray);

        // // Save the perpendicular distance of pointer from each segment
        // distances = []
        // for (let i = markersarray.indexOf(closestStop)-1 ; i <= markersarray.indexOf(closestStop); i++) {
        //   var proj = calculateProjection(markersarray[i].getLatLng(),markersarray[i+1].getLatLng(),pointer.getLatLng());
        //   var projMarker = L.circleMarker([proj.x,proj.y])
        //   distances.push(distBet(projMarker,pointer));
        // }

        // // Based on perpendicular distance from segment, determine previous and next stop
        // closestStop = getClosestStop(distances, markersarray.slice(markersarray.indexOf(closestStop)-1));

        if (markersarray.indexOf(closestStop) != 0 && markersarray.indexOf(closestStop) != markersarray.length-1) {
          P = pointer
          A = markersarray[markersarray.indexOf(closestStop) - 1]
          B = closestStop
          C = markersarray[markersarray.indexOf(closestStop) + 1]

          if (calculateAngle(P,B,A) > calculateAngle(P,B,C)){
            prevstop = A
          } else {
            prevstop = C
          }
        }
        

        if (markersarray.indexOf(closestStop)+1 != markersarray.length){
          // Three sides of trianble joining nearest stop, prev stop and next stop
          var side1 = distBet(pointer,closestStop)
          var side2 = distBet(closestStop,markersarray[markersarray.indexOf(closestStop)+1])
          var side3 = distBet(markersarray[markersarray.indexOf(closestStop)+1],pointer)

          //If triangle is obtuse, previous stop is the one before closest stop
          if (side3**2 > side2**2+side1**2){
            prevstop = markersarray[markersarray.indexOf(closestStop) - 1]
          } else {
            prevstop = closestStop
          }
        } else {
          prevstop = markersarray[markersarray.indexOf(closestStop) - 1]
        }

        // Check if the next stop is last stop
        if (markersarray.indexOf(closestStop)+1 == markersarray.length) {
          prevstop = markersarray[markersarray.indexOf(closestStop)-1]
        };

        nextstop = markersarray[markersarray.indexOf(prevstop)+1]

        // // Show previous and next stops
        // prevstop._path.style.filter = "grayscale(1)";
        // prevstop.addTo(map);
        // nextstop._path.style.filter = "sepia(1)";
        // nextstop.addTo(map);
        
        if (busLayer.hasLayer(busmarkers[key])) {
          busLayer.removeLayer(busmarkers[key]);
        }

        // Get the location of pointer prjected on final segment
        var proj = calculateProjection(prevstop.getLatLng(),nextstop.getLatLng(),pointer.getLatLng());
        var projMarker = L.circleMarker([proj.x,proj.y],busMarker)

        busmarkers[key] = projMarker;

        busmarkers[key].addTo(busLayer);

        // document.getElementById('route-bar').replaceChildren()

        if (document.getElementById('route-bar').childNodes.length == 0) {
          totalDist = 0
          var segments = []
          for (let i = 0; i < markersarray.length-1; i++) {
            var dist = distBet(markersarray[i],markersarray[i+1])
            segments.push(dist);
            totalDist = totalDist + dist
          };
          
          n = 1
          segments.forEach(segment => {
            var segElem = document.createElement('div')
            segElem.classList.add('route-segment')
            segElem.style.width = segment*100/totalDist + '%'
            var stopElem = document.createElement('div')
            stopElem.classList.add('stop-marker')
            stopElem.innerText = n
            segElem.appendChild(stopElem)
            document.getElementById('route-bar').appendChild(segElem)
            n++
          });
          var segElem = document.createElement('div')
          segElem.classList.add('route-segment')
          segElem.style.width = '0%'
          var stopElem = document.createElement('div')
          stopElem.classList.add('stop-marker')
          stopElem.innerText = n
          segElem.appendChild(stopElem)
          document.getElementById('route-bar').appendChild(segElem)
        }

        //time elements code

        var covDist = 0;
        for (let i = 0; i <= markersarray.indexOf(prevstop)-1 ; i++) {
          covDist = covDist + distBet(markersarray[i],markersarray[i+1])
        };
        covDist = covDist + distBet(prevstop,projMarker);

        var e = document.getElementById("busElem" + key)
        if(e != null){
          e.remove()
        } 

        var busElem = document.createElement('div')
        busElem.id = "busElem" + key
        busElem.classList.add('route-bus')
        busElem.style.width = covDist*100/totalDist + '%'
        var busLocElem = document.createElement('div')
        busLocElem.classList.add('stop-marker')
        busLocElem.classList.add('bus-marker')
        busLocElem.innerHTML = '<span class="material-symbols-outlined bus-icon">directions_bus</span>'
        busElem.appendChild(busLocElem)
        var speedElem = document.createElement('div')
        speedElem.classList.add('speed')
        speedElem.innerText = speed + ' km/h'
        speedElem.style.margin = '-35px 5px 0px 0px'
        speedElem.style.right = '0'
        speedElem.style.background = 'black'
        busElem.appendChild(speedElem)
        document.getElementById('route-bar').appendChild(busElem)

        document.querySelectorAll('.bus-marker').forEach(e => {
          e.addEventListener('click', function(){
            const key = this.parentNode.id.replace('busElem','')
            console.log('clicked',key)
            var route_segments = document.querySelectorAll('#route-bar .route-segment')
            document.querySelectorAll('.route-segment .stop-time').forEach(e => e.remove());

            for (let i = 0; i < route_segments.length ; i++) {
              var timeElem = document.createElement('div')
              timeElem.classList.add('stop-time')
              timeElem.innerText = arrival_times[key][i]
              route_segments[i].appendChild(timeElem)
            }
          });
        });

        var d = new Date();
        time_decimal = d.getHours() + d.getMinutes()/60 + d.getSeconds()/3600

        stValues.push({x:time_decimal,y:covDist*100/totalDist})
        chart.options.scales.xAxes[0].ticks.min = time_decimal-1
        chart.options.scales.xAxes[0].ticks.max = time_decimal+1
        chart.update('none');
      };

      function distBet(marker1,marker2) {
        let lat1 = marker1.getLatLng().lat
        let lng1 = marker1.getLatLng().lng
        let lat2 = marker2.getLatLng().lat
        let lng2 = marker2.getLatLng().lng
        
        let deltalat = lat1 - lat2
        let deltalng = lng1 - lng2
        let distance = Math.sqrt(deltalat ** 2 + deltalng ** 2);
        return distance
      }


      function getClosestStop(distances, stops) {
        // Find the index of the minimum value in distances
        let minIndex = 0;
        for (let i = 1; i < distances.length; i++) {
          if (distances[i] < distances[minIndex]) {
            minIndex = i;
          }
        }

        const closestStop = stops[minIndex];

        return closestStop;
      }

      function calculateAngle(A, B, C) {
        const angle1 = Math.atan2(A.lng - B.lng, A.lat - B.lat);
        const angle2 = Math.atan2(C.lng - B.lng, C.lat - B.lat);

        let angle = angle2 - angle1;
        angle = angle * (180 / Math.PI);

        if (angle < 0) {
          angle += 360;
        }

        return angle;
      }

      function calculateProjection(A, B, X) {
        const AB = { lat: B.lat - A.lat, lng: B.lng - A.lng };
        const AX = { lat: X.lat - A.lat, lng: X.lng - A.lng };
        const dotProduct = AX.lat * AB.lat + AX.lng * AB.lng;
        const lengthABSquared = AB.lat * AB.lat + AB.lng * AB.lng;
        const scalarProjection = dotProduct / lengthABSquared;
        const P = {
          x: A.lat + scalarProjection * AB.lat,
          y: A.lng + scalarProjection * AB.lng,
        };
        return P;
      }

      function calculateAverage(array) {
          var total = 0;
          var count = 0;

          array.forEach(function(item, index) {
              total += item;
              count++;
          });

          return total / count;
      }
      
      stValues = [];

      chart = new Chart("myChart", {
        type: "scatter",
        data: {
          datasets: [{
            pointRadius: 2,
            pointBackgroundColor: "rgba(0,0,255,1)",
            data: stValues
          }]
        },
        options: {
          legend: {display: false},
          scales: {
            xAxes: [{ticks: {min: 0, max: 24},scaleLabel: {display: true,labelString: 'Time'}}],
            yAxes: [{ticks: {min: 0, max:100},scaleLabel: {display: true,labelString: '% Distance Covered'}}],
          },
          title: {
            display: true,
            text: 'Live Space-Time Chart',
            color: 'navy',
            position: 'top',
            align: 'center',
            font: {
                weight: 'bold'
            },
            padding: 8,
            fullSize: true,
          }
        }
      });
  </script>
  <script>
    const imageContainer = document.getElementById('busimages');
    imageContainer.addEventListener('click', function(){
      imageContainer.classList.toggle('maximise')
    })
    // For bus images
    // Function to fetch and display multiple images
    function displayImages() {
      // Make a GET request to the Flask endpoint
      fetch('/images')
        .then(response => response.json())
        .then(data => {
          // Get the image container element
          const imageContainer = document.getElementById('busimages');
          imageContainer.replaceChildren()
          const heading = document.createElement('b')
          heading.textContent = 'Live Feed'
          imageContainer.appendChild(heading)

          // Loop through the image data dictionary
          for (const bus in data) {
            console.log(bus)
            if (data.hasOwnProperty(bus)) {
              const imageData = data[bus];

              // Create an <img> element
              const image = document.createElement('img');
              image.src = 'data:image/png;base64,' + imageData;
              image.alt = 'Image';
              image.style.width = '80%'
              image.style.borderRadius = '5%'

              // Create a <span> element for the bus name
              const busName = document.createElement('span');
              busName.textContent = bus;

              // Append the image and bus name to the container
              imageContainer.appendChild(image);
              imageContainer.appendChild(busName);
            }
          }
        })
        .catch(error => {
          console.error('Error retrieving images:', error);
        });
    }

    // Call the displayImages function
    setInterval(displayImages,5000)
  </script>
{% endblock %}