{% extends "dashboard.html" %}
{% block head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<script>var tab = $( "button:contains('Stop Details')" ).attr('disabled','');</script>
  <div class="mapdata">
    {% if message %}<div id="messagebox">{{message}}</div>{% endif %}
    <div id="map"></div>
    <div class="maptable">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <p style="position:fixed;opacity:0;" id="username">{{ session['email'] }}</p>
{% endblock %}
{% block foot %}
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <script>
    var busMarker = {
        radius : 10,
        color  : '#125482',
        opacity: 1,
        stroke : false,
        fillOpacity: 1,
        weight:5,
        fillcolor:'#ff0000',
    }

    var stopMarker = {
        radius : 10,
        color  : '#235523',
        opacity: 1,
        stroke : false,
        fillOpacity: 1,
        weight:5,
        fillcolor:'#ff0000',
    }

    var map = L.map('map').setView([51.505, -0.09], 13);

    L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
      subdomains: 'abcd',
      maxZoom: 20
    }).addTo(map);
    
    // Search box
    var searchControl = L.Control.geocoder({
      defaultMarkGeocode: false,
      placeholder: 'Search location...',
      errorMessage: 'No results found.',
      showResultIcons: true,
      collapsed: false,
    }).on('markgeocode', function (e) {
      map.setView(e.geocode.center, 13);
      addMarker(e.geocode.center);
    }).addTo(map);

    // For clearing search results
    document.querySelector('div.leaflet-top.leaflet-right > div > ul').addEventListener('click', function () {
        searchControl._clearResults()
    })
    document.querySelector('#map').addEventListener('click', function () {
        searchControl._clearResults()
    })

    var linesLayer = L.layerGroup();
    var clickedmarkers = L.layerGroup();
    var markersLayer = L.layerGroup();

    var markerCount = 0;

    var markersarray = [];
    var polyline = null;

    var latitudes = []
    var longitudes = []

    // Fetch data from Flask endpoint
    fetch('/route-data')
      .then(response => response.json())
      .then(data => {
        // Loop through the data and add markers
        data.forEach(point => {
          var marker = L.circleMarker([point.lat, point.lng],busMarker).addTo(markersLayer);
          marker.bindTooltip(point.name, {permanent: true, className: "my-label", offset: [0, 0] });
          marker.bindPopup(point.name);
          marker.key = point.id;
          marker._path.style.filter = "hue-rotate(120deg)"
          latitudes.push(point.lat);
          longitudes.push(point.lng);
          markersarray.push(marker);
        });
        if (markersarray.length > 1) {
          var latlngs = markersarray.map(function(marker) {
            return marker.getLatLng();
          });
          // Remove the previous polyline if it exists
          if (polyline) {
            linesLayer.removeLayer(polyline);
          }
          var polyline = L.polyline(latlngs, { color: '#3388ff', weight: 20 , opacity: 0.5}).addTo(linesLayer);
        }
        map.setView([latitudes[0], longitudes[0]],15);
      })
      .catch(error => {
        console.error('Error:', error);
      });

      // livelocation
      var email = document.getElementById('username').textContent

      var socket = io();
      socket.on('connect', function() {
          socket.emit('join',{room: email})
          socket.emit('my event', {data: 'I\'m connected!'});
      });

      var busGroup = L.layerGroup().addTo(map);

      var prevstop = markersarray[0]
      var nextstop = markersarray[1]

      socket.on('receivedlocation', function(data) {
        // map.setView([data['latitude'],data['longitude']],20)
        busGroup.clearLayers();
        var pointer = L.marker([data['latitude'],data['longitude']])
        var threeCoord = document.querySelectorAll('.maptable > div')

        threeCoord[2].innerHTML = threeCoord[1].innerHTML
        threeCoord[1].innerHTML = threeCoord[0].innerHTML
        threeCoord[0].innerHTML = data['latitude'] + ' , ' + data['longitude']

        // var distances = []
        // markersarray.forEach(marker => {
        //   distances.push(distBet(marker,pointer));
        // })

        // var prevstop = getClosestStops(distances, markersarray)[0];
        // var nextstop = getClosestStops(distances, markersarray)[1];
        
        for (let i = 0; i < markersarray.length; i++) {
          if (distBet(markersarray[i],pointer) < 0.00005) {
            console.log(distBet(markersarray[i],pointer))
            prevstop = markersarray[i]
            nextstop = markersarray[i+1]
            break
          }
        }

        prevstop._path.style.filter = "grayscale(1)";
        prevstop.addTo(map);
        nextstop._path.style.filter = "sepia(1)";
        nextstop.addTo(map);

        var proj = calculateProjection(prevstop.getLatLng(),nextstop.getLatLng(),pointer.getLatLng());
        var projMarker = L.circleMarker([proj.x,proj.y],busMarker).addTo(busGroup);
      });

      clickedmarkers.addTo(map);
      markersLayer.addTo(map);
      linesLayer.addTo(map);
      
      map.on('click', function(e) {
        socket.emit('location', {latitude: e.latlng.lat, longitude: e.latlng.lng})
      });

      function distBet(marker1,marker2) {
        let lat1 = marker1.getLatLng().lat
        let lng1 = marker1.getLatLng().lng
        let lat2 = marker2.getLatLng().lat
        let lng2 = marker2.getLatLng().lng
        
        let deltalat = lat1 - lat2
        let deltalng = lng1 - lng2
        let distance = Math.sqrt(deltalat ** 2 + deltalng ** 2);
        return distance
      }


      function getClosestStops(distances, stops) {
        // Find the index of the minimum value in distances
        let minIndex = 0;
        for (let i = 1; i < distances.length; i++) {
          if (distances[i] < distances[minIndex]) {
            minIndex = i;
          }
        }

        // Access the element in stops using the minIndex
        const prevstop = stops[minIndex];
        const nextstop = stops[minIndex+1];

        return [prevstop,nextstop];
      }

      function calculateProjection(A, B, X) {
        const AB = { lat: B.lat - A.lat, lng: B.lng - A.lng };
        const AX = { lat: X.lat - A.lat, lng: X.lng - A.lng };
        const dotProduct = AX.lat * AB.lat + AX.lng * AB.lng;
        const lengthABSquared = AB.lat * AB.lat + AB.lng * AB.lng;
        const scalarProjection = dotProduct / lengthABSquared;
        const P = {
          x: A.lat + scalarProjection * AB.lat,
          y: A.lng + scalarProjection * AB.lng,
        };
        return P;
      }
  </script>
{% endblock %}