{% extends "dashboard.html" %}
{% block content %}
<script>var tab = $( "button:contains('Table Details')" ).attr('disabled','');</script>
<div class="content"> 
{% if message %}<div id="messagebox">{{message}}</div>{% endif %}
{% if rows and stops_list %}
  <form action="{{url_for('table_selected')}}" method="POST" style="margin: 10px;padding: 0;">
    <div style="display: flex; flex-direction: row;">
      <select id="db_table" name="db_table" onchange="this.form.submit();">
        <option value="" selected="selected" hidden="hidden">Select table</option>
        <option>T_Passenger_Arrival_UP</option>
        <option>T_Passenger_Arrival_DN</option>
        <option>T_Fare_UP</option>
        <option>T_Fare_DN</option>
        <option>T_TraveTimeUP_ANN</option>
        <option>T_TravelTimeDN_ANN</option>
        {% for n in periods %}
        <option>OD_UP_{{n}}</option>
        <option>OD_DN_{{n}}</option>
        {% endfor %}
      </select>
    </div>
  </form>
  {% if selected_table %}
  <form class='tableform' action="{{url_for('table_filled')}}" method="POST" enctype="multipart/form-data">
    <b>{{selected_table}}</b><br>
    <input id="selected_table" name="selected_table" value="{{selected_table}}" hidden>
    <div class="scroll-table">
      <table>
        <thead>
          <tr>
            <th> </th>
            {%for n in stops_list%}
            <th>{{n}}</th>
            {%endfor%}
          </tr>
        </thead>
          {% for i in range(rows|length) %}
          <tr>
            <th>{{rowheader[i]}}</th>
            {%for n in range(stop_ids|length) %}
              {% if db_data %}
              <td><input type="number" name="{{stop_ids[n]}}{{'_'}}{{rows[i]}}" value="{{db_data[n][i]}}" {% if i >= n and rowheader[0] is not number %} style="opacity:0" {% endif %} /></td>
              {% endif %}
              {% if not db_data %}
              <td><input type="number" name="{{stop_ids[n]}}{{'_'}}{{rows[i]}}" value="0" {% if i >= n and rowheader[0] is not number %} style="opacity:0" {% endif %} /></td>
              {% endif %}
            {% endfor %}
            {% if 'Trave' in selected_table or 'Passenger' in selected_table %}
              {% if i > 0 %}
              <td><button id="copy" type="button" class="icon-button"><i class="fa-solid fa-angles-down"></i></button></td>
              {% endif %}
            {% endif %}
          </tr>
          {% endfor %}
      </table>
    </div>
    {% if 'Trave' in selected_table or 'Passenger' in selected_table %}
    <div style="font-size: 15px;text-align: center;justify-content: center;">Click <i style="color:#8C025D" class="fa-solid fa-angles-down"></i> to Fill From Previous Row</div>
    {% endif %}
    <section class="button-sec">
        <div style="display: flex;flex-direction: row;">
        <button type="submit" value="Submit">Save</button>
        <button type="submit" formaction="{{url_for('clear_table')}}" value="Clear">Clear</button>
        <button type="submit" formaction="{{url_for('retrieve_data')}}" value="Retrieve">Retrieve</button>
        </div>
        <div style="display: flex;flex-direction: row;">
        <button type="submit" formaction="{{url_for('download_csv_data')}}" value="Download" >Download CSV</button>
        <label class='label-button' for="csvchoose">Upload CSV</label>
        </div>
        <input id='csvchoose' type="file" id="csvfile" name="csvfile" onchange="document.getElementById('csvsubmit').click()" hidden>
        <button id='csvsubmit' type="submit" formaction="{{url_for('upload_csv_data')}}" value="Upload" hidden>Submit CSV</button>
      </section>
  </form>
  {% endif %}
{% else %}
  {{ message }}
{% endif%}

</div>
{% endblock %}

{% block foot %}
<script>
// Get all the buttons in the table
const buttons = document.querySelectorAll('button');

// Loop through each button
buttons.forEach((button) => {
  // Add a click event listener to each button
  button.addEventListener('click', () => {
    // Get the current row
    const currentRow = button.parentNode.parentNode;

    // Get the previous row
    const previousRow = currentRow.previousElementSibling;

    // Get all input elements in the previous row
    const previousInputs = previousRow.querySelectorAll('input');

    // Get all input elements in the current row
    const currentInputs = currentRow.querySelectorAll('input');

    // Loop through each input element in the previous row
    previousInputs.forEach((input, index) => {
      // Get the value of the input
      const value = input.value;

      // Get the corresponding input element in the current row
      const currentInput = currentInputs[index];

      // Set the value of the current input to the value of the previous input
      currentInput.value = value;
    });
  });
});

</script>
{% endblock %}

