{% extends "dashboard.html" %}
{% block content %}
<h4>{{ message }}</h4>
    <form action="{{url_for('stop_char')}}" method="POST">
        <table>
          <thead>
            <tr>
              <th>Stop Name</th>
              <th>Before Intersection</th>
              <th>Far from Intersection</th>
              <th>Commercial (sqm.)</th>
              <th>Transport hub (sqm.)</th>
              <th>Bus Bay</th>
            </tr>
          </thead>
            {% for n in range(stops|length) %}
            <tr>
              <td>{{stops[n]}}</td>
              {% if data %}
                {% if data[n][0]==1 %}
                <td><input type="checkbox" name="{{stop_ids[n]}}{{'_before'}}"checked/></td>
                {% else %}
                <td><input type="checkbox" name="{{stop_ids[n]}}{{'_before'}}"/></td>
                {% endif %}
                {% if data[n][1]==1 %}
                <td><input type="checkbox" name="{{stop_ids[n]}}{{'_far'}}"checked/></td>
                {% else %}
                <td><input type="checkbox" name="{{stop_ids[n]}}{{'_far'}}"/></td>
                {% endif %}
                <td><input type="number" name="{{stop_ids[n]}}{{'_tran'}}" value="{{data[n][2]}}"/></td>
                <td><input type="number" name="{{stop_ids[n]}}{{'_comm'}}" value="{{data[n][3]}}"/></td>
                {% if data[n][4]==1 %}
                <td><input type="checkbox" name="{{stop_ids[n]}}{{'_busbay'}}"checked/></td>
                {% else %}
                <td><input type="checkbox" name="{{stop_ids[n]}}{{'_busbay'}}"/></td>
                {% endif %}
                <td><input type="number" name="{{stop_ids[n]}}{{'_stoprad'}}" value="{{data[n][5]}}"/></td>
              {% else %}
              <td><input type="checkbox" name="{{stop_ids[n]}}{{'_before'}}"/></td>
              <td><input type="checkbox" name="{{stop_ids[n]}}{{'_far'}}"/></td>
              <td><input type="number" name="{{stop_ids[n]}}{{'_tran'}}" value="0"/></td>
              <td><input type="number" name="{{stop_ids[n]}}{{'_comm'}}" value="0"/></td>
              <td><input type="checkbox" name="{{stop_ids[n]}}{{'_busbay'}}"/></td>
              <td><input type="number" name="{{stop_ids[n]}}{{'_stoprad'}}" value="0"/></td>
              {% endif %}
            </tr>
            {% endfor %}
        </table>
        <input type="submit" formaction="{{url_for('stop_char')}}" value="Save" name="save" >
    </form>
    <form action="{{url_for('stop_char')}}" method="POST">
      <input type="submit" formaction="{{url_for('stop_char')}}" value="Get From DB" name="getfromdb" >
    </form>
{% endblock %}