{% extends "dashboard.html" %}
{% block content %}
<script>var tab = $( "button:contains('GA Params')" ).attr('disabled','');</script>
<div class="content"> 
{% if not data %}
{% if message %}<div id="messagebox">{{message}}</div>{% endif %}
<form id="myform" action="{{url_for('ga_params')}}" method="post">
  <b>Genetic Algorithm Parameters</b><br>
  <div style="grid-template-columns: auto auto;">
    <label for="sol_per_pop">No of sol set of freq in one popl. for GA: </label>
    <input value="20" type="number" id="sol_per_pop" name="sol_per_pop" required>

    <label for="num_generations">Number of generations for GA: </label>
    <input value="5" type="number" id="num_generations" name="num_generations" required>
  </div>
  <input type="submit" formaction="{{url_for('ga_params')}}" value="Submit" name="save" >
  <input type="submit" formaction="{{url_for('ga_params')}}" value="Get From DB" name="getfromdb" >
</form>
{% endif %}
{% if data %}
{% if message %}<div id="messagebox">{{message}}</div>{% endif %}
<form id="myform" action="{{url_for('ga_params')}}" method="post">
  <b>Genetic Algorithm Parameters</b><br>
  <div style="grid-template-columns: auto auto;">
    <label for="sol_per_pop">No of sol set of freq in one popl. for GA: </label>
    <input value="{{data['sol_per_pop']}}" type="number" id="sol_per_pop" name="sol_per_pop" required>

    <label for="num_generations">Number of generations for GA: </label>
    <input value="{{data['num_generations']}}" type="number" id="num_generations" name="num_generations" required>
  </div>
  <input type="submit" formaction="{{url_for('ga_params')}}" value="Submit" name="save" >
  <input type="submit" formaction="{{url_for('ga_params')}}" value="Get From DB" name="getfromdb" >
</form>
{% endif %}
</div>
{% endblock %}
