{% extends "dashboard.html" %}
{% block content %}
<script>var tab = $( "button:contains('Scheduling Files')" ).attr('disabled','');</script>
<div class="content"> 
{% if message %}<div id="messagebox">{{message}}</div>{% endif %}
<form action="{{url_for('scheduling')}}" method="POST" enctype="multipart/form-data">
  <b>Upload Scheduling Input Files</b><br>
  <div class='csvfiles' style="grid-template-columns: auto auto;">
      <label for="departuretimeDN">departuretimeDN</label>
      <input type="file" accept=".csv" id="departuretimeDN" name="departuretimeDN" required>
      <label for="departuretimeUP">departuretimeUP</label>
      <input type="file" accept=".csv" id="departuretimeUP" name="departuretimeUP" required>
      <label for="stoparrivalDN">stoparrivalDN</label>
      <input type="file" accept=".csv" id="stoparrivalDN" name="stoparrivalDN" required>
      <label for="stoparrivalUP">stoparrivalUP</label>
      <input type="file" accept=".csv" id="stoparrivalUP" name="stoparrivalUP" required>
      <label for="travel_time_totDN">travel_time_totDN</label>
      <input type="file" accept=".csv" id="travel_time_totDN" name="travel_time_totDN" required>
      <label for="travel_time_totUP">travel_time_totUP</label>
      <input type="file" accept=".csv" id="travel_time_totUP" name="travel_time_totUP" required>
  </div>
  <button class="label-button" type="submit" value="Upload">Upload CSVs</button>
</form>
</div>
{% endblock %}
