{% extends "dashboard.html" %}
{% block content %}
<script>var tab = $( "button:contains('OLS Details')" ).attr('disabled','');</script>
<div class="content"> 
{% if not data %}
<h4>{{ message }}</h4>
<form id="myform" action="{{url_for('ols_details')}}" method="post">
  <b>OLS Coefficients</b><br>
  <div>
    <label for="A">Const:</label>
    <input value="4.09" type="text" id="Const" name="Const" required>

    <label for="A">No of Boarding:</label>
    <input value="3.97" type="text" id="No_of_Boarding" name="No_of_Boarding" required>

    <label for="A">No of Alighting:</label>
    <input value="3.96" type="text" id="No_of_Alighting" name="No_of_Alighting" required>

    <label for="A">Occupancy Level:</label>
    <input value="5.95" type="text" id="Occupancy_Level" name="Occupancy_Level" required>

    <label for="A">Morning Peak:</label>
    <input value="0.09" type="text" id="Morning_Peak" name="Morning_Peak" required>

    <label for="A">Before Intersection:</label>
    <input value="5.07" type="text" id="Before_Intersection" name="Before_Intersection" required>

    <label for="A">Far from Intersection:</label>
    <input value="3.06" type="text" id="Far_from_Intersection" name="Far_from_Intersection" required>

    <label for="A">Commercial:</label>
    <input value="0" type="text" id="Commercial" name="Commercial" required>

    <label for="A">Transport hub:</label>
    <input value="0" type="text" id="Transport_hub" name="Transport_hub" required>

    <label for="A">Bus Bay:</label>
    <input value="-0.97" type="text" id="Bus_Bay" name="Bus_Bay" required>
  </div>
  <input type="submit" formaction="{{url_for('ols_details')}}" value="Submit" name="save" >
  <input type="submit" formaction="{{url_for('ols_details')}}" value="Get From DB" name="getfromdb" >
</form>
{% endif %}
{% if data %}
<h4>{{ message }}</h4>
<form id="myform" action="{{url_for('ols_details')}}" method="post">
  <b>OLS Coefficients</b><br>
  <div>
    <label for="A">Const:</label>
    <input value="{{data['Const']}}" type="text" id="Const" name="Const" required>

    <label for="A">No of Boarding:</label>
    <input value="{{data['No_of_Boarding']}}" type="text" id="No_of_Boarding" name="No_of_Boarding" required>

    <label for="A">No of Alighting:</label>
    <input value="{{data['No_of_Alighting']}}" type="text" id="No_of_Alighting" name="No_of_Alighting" required>

    <label for="A">Occupancy Level:</label>
    <input value="{{data['Occupancy_Level']}}" type="text" id="Occupancy_Level" name="Occupancy_Level" required>

    <label for="A">Morning Peak:</label>
    <input value="{{data['Morning_Peak']}}" type="text" id="Morning_Peak" name="Morning_Peak" required>

    <label for="A">Before Intersection:</label>
    <input value="{{data['Before_Intersection']}}" type="text" id="Before_Intersection" name="Before_Intersection" required>

    <label for="A">Far from Intersection:</label>
    <input value="{{data['Far_from_Intersection']}}" type="text" id="Far_from_Intersection" name="Far_from_Intersection" required>

    <label for="A">Commercial:</label>
    <input value="{{data['Commercial']}}" type="text" id="Commercial" name="Commercial" required>

    <label for="A">Transport hub:</label>
    <input value="{{data['Transport_hub']}}" type="text" id="Transport_hub" name="Transport_hub" required>

    <label for="A">Bus Bay:</label>
    <input value="{{data['Bus_Bay']}}" type="text" id="Bus_Bay" name="Bus_Bay" required>
  </div>
  <input type="submit" formaction="{{url_for('ols_details')}}" value="Submit" name="save" >
  <input type="submit" formaction="{{url_for('ols_details')}}" value="Get From DB" name="getfromdb" >
</form>
{% endif %}
</div>
{% endblock %}
