{% extends "dashboard.html" %}
{% block content %}
<script>var tab = $( "button:contains('Bus Route')" ).attr('disabled','');</script>
<div class="content">
{% if message %}<div id="messagebox">{{message}}</div>{% endif %}
{% if routes %}
<form method="POST" action="{{url_for('import_route')}}" style="margin: 0;padding: 0;position: absolute;top: 80%;">
  <select id="route_for_import" name="route_for_import" onchange="this.form.submit();">
    <option value="" selected="selected" hidden="hidden">Use Previous Routes</option>
    {% for route in routes %}
    <option>{{route}}</option>
    {% endfor %}
  </select>
</form>
{% endif %}
<form action="{{url_for('busroute')}}" method="post">
  <div class="busroute-form">
    <b>Bus Route Details</b><br>
    <section>
      <div class="label-field-1">
        <label for="Terminal_1_origin">Terminal 1 (Origin): </label>
        <input type="text" id="Terminal_1_origin" name="Terminal_1_origin" required {%if data%}value="{{data['Terminal_1_origin']}}"{%endif%}/>
      </div>
      <div class="label-field-1">
        <label for="Terminal_2_destination">Terminal 2 (Destination): </label>
        <input type="text" id="Terminal_2_destination" name="Terminal_2_destination" required {%if data%}value="{{data['Terminal_2_destination']}}"{%endif%}/>
      </div>
      <!-- <br style="clear:both;" /> -->
    </section>
    <section>
      <div class="label-field-1">
        <label for="Bus_route_name">Bus Route Name:</label>
        <input type="text" id="Bus_route_name" name="Bus_route_name" required {%if data%}value="{{data['Bus_route_name']}}"{%endif%}/>
      </div>
      <div class="label-field-1">
        <label for="Number_of_service_periods">Number of service periods: </label>
        <input type="number" id="Number_of_service_periods" name="Number_of_service_periods" min="2" max="30" required {%if data%}value="{{data['Number_of_service_periods']}}"{%endif%}/>
      </div>
    </section>
    <section>
      <div class="label-field-1">
        <label for="Bus_service_timings_From">From:</label>
        <input type="time" id="Bus_service_timings_From" name="Bus_service_timings_From" required {%if data%}value="{{data['Bus_service_timings_From']}}"{%endif%}/>
      </div>
      <div class="label-field-1">
        <label for="Bus_service_timings_To">To:</label>
        <input type="time" id="Bus_service_timings_To" name="Bus_service_timings_To" required {%if data%}value="{{data['Bus_service_timings_To']}}"{%endif%}/>
      </div>
    </section>
    <div>
      <button class="label-button" value="Submit" type="submit">Save</button>
      <button class="label-button" value="Clear" type="submit" formaction="/clear-route">Clear</button>
      <!-- <input type="submit" formaction="{{url_for('busroute')}}" value="Save" name="submit" >
      <input type="submit" formaction="{{url_for('clear_route')}}" value="Clear" name="clear_route" > -->
    </div>
  </div>
</form>
</div>
{% endblock %}