{% extends "dashboard.html" %}
{% block content %}
<script>var tab = $( "button:contains('Stop Characteristics')" ).attr('disabled','');</script>
<div class="content"> 
  {% if message %}<div id="messagebox">{{message}}</div>{% endif %}
  {% if stop_ids %}
  <form style="max-width: 70%;"action="{{url_for('stop_char')}}" method="POST">
      <b>Stop Characteristics</b><br>  
      <table  class="char" style="table-layout: fixed;text-align: center;height: auto;">
          <thead>
            <tr>
              <th>Stop Name</th>
              <th>Before Intersection</th>
              <th>Far from Intersection</th>
              <th>Commercial (sqm.)</th>
              <th>Transport hub (sqm.)</th>
              <th>Bus Bay</th>
              <th>Spread Radius (m)</th>
            </tr>
          </thead>
            {% for n in range(stops|length) %}
            <tr>
              <td>{{stops[n]}}</td>
              {% if data %}
                {% if data[n][0]==1 %}
                <td><input type="checkbox" name="{{stop_ids[n]}}{{'_before'}}"checked/></td>
                {% else %}
                <td><input type="checkbox" name="{{stop_ids[n]}}{{'_before'}}"/></td>
                {% endif %}
                {% if data[n][1]==1 %}
                <td><input type="checkbox" name="{{stop_ids[n]}}{{'_far'}}"checked/></td>
                {% else %}
                <td><input type="checkbox" name="{{stop_ids[n]}}{{'_far'}}"/></td>
                {% endif %}
                <td><input type="number" name="{{stop_ids[n]}}{{'_comm'}}" value="{{data[n][2]}}"/></td>
                <td><input type="number" name="{{stop_ids[n]}}{{'_tran'}}" value="{{data[n][3]}}"/></td>
                {% if data[n][4]==1 %}
                <td><input type="checkbox" name="{{stop_ids[n]}}{{'_busbay'}}"checked/></td>
                {% else %}
                <td><input type="checkbox" name="{{stop_ids[n]}}{{'_busbay'}}"/></td>
                {% endif %}
                <td><input type="number" name="{{stop_ids[n]}}{{'_stoprad'}}" value="{{data[n][5]}}"/></td>
              {% else %}
              <td><input type="checkbox" name="{{stop_ids[n]}}{{'_before'}}"/></td>
              <td><input type="checkbox" name="{{stop_ids[n]}}{{'_far'}}"/></td>
              <td><input type="number" name="{{stop_ids[n]}}{{'_comm'}}" value="0"/></td>
              <td><input type="number" name="{{stop_ids[n]}}{{'_tran'}}" value="0"/></td>
              <td><input type="checkbox" name="{{stop_ids[n]}}{{'_busbay'}}"/></td>
              <td><input type="number" name="{{stop_ids[n]}}{{'_stoprad'}}" value="0"/></td>
              {% endif %}
            </tr>
            {% endfor %}
        </table>
        <br>
        <input type="submit" formaction="{{url_for('stop_char')}}" value="Save" name="save" >
        <input type="submit" formaction="{{url_for('stop_char')}}" value="Get From DB" name="getfromdb" >
    </form>
    {% endif %}
    {% if not stop_ids %}
      {{ message }}
    {% endif %}
</div>
{% endblock %}