{% extends "dashboard.html" %}
{% block head %}
{% endblock %}
{% block content %}
<script>var tab = $( "button:contains('Buses')" ).attr('disabled','');</script>
<div class="content">
{% if buses == 0 %}{{message}}{% endif %}
{% if buses != 0 %}
{% if message %}<div id="messagebox">{{message}}</div>{% endif %}
  <form action="{{url_for('buses')}}" method="post">
    <b>Enter Bus Names</b><br>
    <div class="buses">
      {% for n in range(buses) %}
        {% if busnames %}
          <input type="text" placeholder="Bus {{n+1}}" id="bus{{n+1}}" name="bus{{n+1}}" value="{{busnames[n]}}">
        {% else %}
          <input type="text" placeholder="Bus {{n+1}}" id="bus{{n+1}}" name="bus{{n+1}}">
        {% endif %}
      {% endfor %}
    </div>
    <input type="submit" value="Save">
  </form>
{% endif %}
</div>
{% endblock %}
{% block foot %}
{% endblock %}