{% extends "dashboard.html" %}
{% block head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
{% endblock %}
{% block content %}
<script>var tab = $( "button:contains('Build Route')" ).attr('disabled','');</script>
{% if message %}
<div class="mapdata">
  <div id="map"></div>
  <div class="maptable">
    <form class="center-form" action="{{url_for('route_details')}}" method="post">  
      <div style="margin: 10px;color: #8C025D;"><b>{{ message }}</b></div>
      {% for n in stops %}
      <b>{{n}}</b>
      {% endfor %}
      <input type="submit" value="Rebuild">
    </form>
  </div>
</div>
{% endif %}
{% if not message %}
  <div class="mapdata">
    <div id="map"></div>
    <div class="maptable">
      <form class="center-form" action="{{url_for('save_route')}}" method="post">
        <table id="markerTable">
          <thead>
            <tr>
              <th>Stops</th>
              <th>UP Dist</th>
              <th>DN Dist</th>
              <th> </th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
        <input type="submit" value="Confirm Stops">
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}
{% block foot %}
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <script>
    var map = L.map('map').setView([51.505, -0.09], 13);

    L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
      subdomains: 'abcd',
      maxZoom: 20
    }).addTo(map);

    var markersLayer = L.layerGroup().addTo(map);
    var linesLayer = L.layerGroup().addTo(map);
    var clickedmarkers = L.layerGroup().addTo(map);

    var markerCount = 0;

    var clickedMarkersarray = [];
    var polyline = null;

    var latitudes = []
    var longitudes = []

  </script>
  {% if message %}  
  <script>
    // Fetch data from Flask endpoint
    fetch('/route-data')
      .then(response => response.json())
      .then(data => {
        // Loop through the data and add markers
        data.forEach(point => {
          var marker = L.marker([point.lat, point.lng]).addTo(markersLayer);
          marker.bindTooltip(point.name, {permanent: true, className: "my-label", offset: [0, 0] });
          marker.bindPopup(point.name);
          marker.key = point.id;
          marker._icon.style.filter = "hue-rotate(120deg)"
          latitudes.push(point.lat);
          longitudes.push(point.lng);
          clickedMarkersarray.push(marker);
        });
        if (clickedMarkersarray.length > 1) {
          var latlngs = clickedMarkersarray.map(function(marker) {
            return marker.getLatLng();
          });
          // Remove the previous polyline if it exists
          if (polyline) {
            linesLayer.removeLayer(polyline);
          }
          var polyline = L.polyline(latlngs, { color: '#3388ff' }).addTo(linesLayer);
        }
        map.setView([latitudes[0], longitudes[0]],15);
      })
      .catch(error => {
        console.error('Error:', error);
      });
  </script>
  {% endif %}  
  {% if not message %}  
  <script>
    // Fetch data from Flask endpoint
    fetch('/data')
      .then(response => response.json())
      .then(data => {
        // Loop through the data and add markers
        data.forEach(point => {
          var marker = L.marker([point.lat, point.lng]).addTo(markersLayer);
          marker.bindTooltip(point.name, {permanent: true, className: "my-label", offset: [0, 0] });
          marker.bindPopup(point.name);
          marker.key = point.id;
          latitudes.push(point.lat);
          longitudes.push(point.lng);

          // Add click event handler to each marker
          marker.on('click', function(event) {
            // Add clicked marker to the markers layer
            markersLayer.removeLayer(marker);
            clickedmarkers.addLayer(marker);
            // Add clicked marker to clickedMarkers array
            clickedMarkersarray.push(marker);
            // Update the table with the clicked marker
            updateTable(marker);
            // Change marker color
            marker._icon.style.filter = "hue-rotate(120deg)"
            // Update the lines
            updateLines();
          });
        });
        map.setView([latitudes[0], longitudes[0]],15);
      })
      .catch(error => {
        console.error('Error:', error);
      });
  </script>
  {% endif %}  
  <script>
    // Search box
    var searchControl = L.Control.geocoder({
      defaultMarkGeocode: false,
      placeholder: 'Search location...',
      errorMessage: 'No results found.',
      showResultIcons: true,
      collapsed: false,
    }).on('markgeocode', function (e) {
      map.setView(e.geocode.center, 13);
      addMarker(e.geocode.center);
    }).addTo(map);

    // For clearing search results
    document.querySelector('div.leaflet-top.leaflet-right > div > ul').addEventListener('click', function () {
        searchControl._clearResults()
    })
    document.querySelector('#map').addEventListener('click', function () {
        searchControl._clearResults()
    })

    function updateTable(marker) {
      var markerName = marker.getPopup().getContent();

      var markerRow = document.createElement('tr');
      markerRow.id = 'markerRow' + markerCount;

      var markerNameCell = document.createElement('td');
      markerNameCell.style.border = "None";
      markerNameCell.style.background = "White";
      var markerInputBox = document.createElement('input');
      var markerNameName = markerName + markerCount + '_Name';
      markerInputBox.id = markerNameName;
      markerInputBox.name = markerNameName;
      markerInputBox.value = markerName;
      markerNameCell.appendChild(markerInputBox);
      markerRow.appendChild(markerNameCell);

      var distUPCell = document.createElement('td');
      distUPCell.style.border = "None";
      distUPCell.style.background = "White";
      var distUPInputBox = document.createElement('input');
      var distUPname = markerName + markerCount + '_UP';
      distUPInputBox.id = distUPname;
      distUPInputBox.name = distUPname;
      distUPInputBox.value = 0;
      distUPCell.appendChild(distUPInputBox);
      markerRow.appendChild(distUPCell);
      
      var distDNCell = document.createElement('td');
      distDNCell.style.border = "None";
      distDNCell.style.background = "White";
      var distDNInputBox = document.createElement('input');
      var distDNname = markerName + markerCount + '_DN';
      distDNInputBox.id = distDNname;
      distDNInputBox.name = distDNname;
      distDNInputBox.value = 0;
      distDNCell.appendChild(distDNInputBox);
      markerRow.appendChild(distDNCell);

      var actionsCell = document.createElement('td');
      actionsCell.style.border = "None";
      actionsCell.style.background = "White";
      var deleteButton = document.createElement('button');
      deleteButton.type = 'button';
      deleteButton.classList.add('icon-button')
      deleteButton.innerHTML = '<i class="fa fa-trash"></i>';
      actionsCell.appendChild(deleteButton);
      markerRow.appendChild(actionsCell);

      var stopIDCell = document.createElement('td');
      stopIDCell.style.border = "None";
      stopIDCell.style.background = "White";
      var stopIDInputBox = document.createElement('input');
      var stopIDname = markerName + markerCount + '_ID';
      stopIDInputBox.id = stopIDname;
      stopIDInputBox.name = stopIDname;
      stopIDInputBox.value = marker.key;
      stopIDCell.appendChild(stopIDInputBox);
      stopIDCell.style.display = 'none';
      markerRow.appendChild(stopIDCell);

      // var marker = L.marker(e.latlng, { draggable: true }).addTo(markersLayer);
      // marker.bindPopup(markerName);

      // marker.on('dragend', function(event) {
      //   updateLines();
      // });

      // markersLayer.addLayer(marker);
      // updateLines();

      deleteButton.addEventListener('click', function() {
        clickedmarkers.removeLayer(marker);
        markersLayer.addLayer(marker);
        markerRow.remove();
        // Remove clicked marker from clickedMarkers array
        var index = clickedMarkersarray.indexOf(marker);
        if (index > -1) {
          clickedMarkersarray.splice(index, 1);
        }
        updateLines();
      });

      markerCount++;

      document.getElementById('markerTable').getElementsByTagName('tbody')[0].appendChild(markerRow);
    };

    function updateLines() {
      linesLayer.clearLayers();

      // var markers = clickedmarkers.getLayers();

      if (clickedMarkersarray.length > 1) {
        var latlngs = clickedMarkersarray.map(function(marker) {
          return marker.getLatLng();
        });

        // Remove the previous polyline if it exists
        if (polyline) {
          linesLayer.removeLayer(polyline);
        }

        var polyline = L.polyline(latlngs, { color: '#3388ff' }).addTo(linesLayer);
      }
    }
  </script>
{% endblock %}