{% extends "dashboard.html" %}
{% block content %}
<h4>{{ message }}</h4>
{% if routes %}
<form method="POST" action="{{url_for('import_route')}}">
  <select id="route_for_import" name="route_for_import" onchange="this.form.submit();">
    <option value="" selected="selected" hidden="hidden">Use Previous Routes</option>
    {% for route in routes %}
    <option>{{route}}</option>
    {% endfor %}
  </select>
</form>
{% endif %}
<form id="myform" action="{{url_for('busroute')}}" method="post">
  <div>
    <label for="Bus_route_name">Bus Route Name:</label>
    <input type="text" id="Bus_route_name" name="Bus_route_name" required {%if data%}value="{{data['Bus_route_name']}}"{%endif%}/>

    <label for="Terminal_1_origin">Terminal 1(origin): </label>
    <input type="text" id="Terminal_1_origin" name="Terminal_1_origin" required {%if data%}value="{{data['Terminal_1_origin']}}"{%endif%}/>

    <label for="Terminal_2_destination">Terminal 2(destination): </label>
    <input type="text" id="Terminal_2_destination" name="Terminal_2_destination" required {%if data%}value="{{data['Terminal_2_destination']}}"{%endif%}/>

    <label for="Bus_service_timings_From">From:</label>
    <input type="time" id="Bus_service_timings_From" name="Bus_service_timings_From" required {%if data%}value="{{data['Bus_service_timings_From']}}"{%endif%}/>

    <label for="Bus_service_timings_To">To:</label>
    <input type="time" id="Bus_service_timings_To" name="Bus_service_timings_To" required {%if data%}value="{{data['Bus_service_timings_To']}}"{%endif%}/>

    <label for="Number_of_service_periods">Number of service periods: </label>
    <input type="number" id="Number_of_service_periods" name="Number_of_service_periods" min="2" max="30" required {%if data%}value="{{data['Number_of_service_periods']}}"{%endif%}/>
  </div>
  <button value="Submit" class="nextBtn" type="submit">Submit</button>
  <input type="submit" formaction="{{url_for('clear_route')}}" value="Clear" name="clear_route" >
</form>
{% endblock %}