{% extends "dashboard.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="content"> 
<h4>{{ message }}</h4>
  <form method="post">
    <div>
      <button type="submit" formaction="{{url_for('scheduling_run',method = 'FIFO')}}">FIFO</button>
      <button type="submit" formaction="{{url_for('scheduling_run',method = 'LIFO')}}">LIFO</button>
      <button type="submit" formaction="{{url_for('scheduling_run',method = 'Random')}}">Random</button>
      <div>
        {% if routes %}
          <select id="second_route" name="second_route">
            <option value="" selected="selected" hidden="hidden">Select Second Route</option>
            {% for route in routes %}
            <option>{{route}}</option>
            {% endfor %}
          </select>
          <button type="submit" value="Submit" formaction="{{url_for('scheduling_run',method = 'Multiline')}}">Multiline</button>
        {% endif %}
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block foot %}
{% endblock %}